<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!trackings.length && geolocationPermisions">
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Empezar</ion-card-subtitle>
        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Todavía no tienes carreras dentro de la aplicación. Inicia una tocando sobre "Correr Ahora"</p>
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-content *ngIf="!geolocationPermisions">
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Importante!!!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Tienes que habilitar los permisos de localización para poder usar esta aplicación</p>
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-content *ngIf="trackings.length">
  <ion-card class="welcome-card" *ngFor="let tracking of trackings; let i = index">
    <ion-img src="{{tracking.staticMap}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ (tracking.distance / 1000).toFixed(3) }} Km. | {{tracking.elapsedTime}}</ion-card-subtitle>
      <ion-card-title>Carrera</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p></p>
    </ion-card-content>
  </ion-card>
</ion-content>
